*{
margin:0;
padding:0;
}
body {
	background:#0b2027;
	/*background:url(../imagenes/fondo.jpg);*/
	/*background-repeat:no-repeat;*/
	/*background-attachment:fixed;*/
	/*background-position:center;*/
	color:white;
	font-size:20px;
}
header, .main, footer{
	width:90%;
	margin:auto;
	max-width:2000px;
	margin:20px auto;
}
header nav{
	background:#e9e9e9;
	overflow:hidden;
}
header nav ul{
	list-style:none;
	
}
header nav ul .icono{
	font-size:30px;
	line-height:20px;
}
header nav ul .icono.derecha{
	float:right;
	margin-left:10px;
}
header nav ul  li{
	float:left;
}

header nav ul li a{
	padding:10px 20px;
	display:block;
	color:#494949;
	font-size:30px;
	height:40px;
	text-decoration:none;
}
header nav ul li a:hover{
	background:#1a95d5;
	color:#fff;
}
header nav ul li:hover > ul{
	display:block;
}
header nav ul ul{
	display:none;
}
header nav ul ul li a{
	background:#424242;
	color:#e9e9e9;
}
header nav ul .activado > a{
	background:#1a95d5;
	color:#e9e9e9;
}
.menu li a{
	padding:10px 20px;
	font-size:20px;
}
.avengers li a{
	padding:10px 20px;
	font-size:20px;
}
.wrapper .main{
	width:60%;
	float:left;
	position:relative;
	top:;
	bottom:;
	right:;
	left:100px;
	margin-right:7%;
}
.wrapper .main article{
	padding:20px;
	margin-bottom:20px;
	/*background:#008080;*/
	background:#566573;
}
aside{
	width:28%;
	float:left;
	padding:15px;
	box-sizing:border-box;
	background:#008080;
	position:relative;
	top:20px;
	bottom:;
	right:;
	left:;
}
footer{
	clear:both;
	padding:10px 0px;
	text-align:center;
	background:#283747;
}
h2{
	font-size:40px;
}
.cuerpo{
	position:absolute;
	top:45px;
	bottom:;
	right:;
	left:450px;
	width:700px;
	color:black;
	font-family:"BankGothic Md BT";
	font-size:50px;
	color:white;
	/*font-weight:bold;*/
}


